[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
imgui = {editable = true,extras = ["cython", "glfw"],git = "https://github.com/branpk/pyimgui.git"}
pyelftools = "*"
pefile = {git = "https://github.com/erocarrera/pefile.git"}

[requires]
python_version = "3.8"
